---
import { Image } from 'astro:assets'
import Badge from '../Badge.astro'
import Tag from '../Tag.astro'
---

<section id="sobre-mi" class="px-6 lg:px-0 lg:flex lg:gap-10 lg:mb-50">
  <div>
    <Badge>Sobre mí</Badge>
    <h2 class="section-title" >¿Quién desarrolla tu producto?</h2>
    <p class="mb-2 -mt-4">
      <Tag tag="span" class="about-first-line text-secondary font-medium">
        <span class=" text-white font-normal"
          >¡Hola 👋! Soy José, desarrollador web en la República Dominicana 🇩🇴.</span
        >
      </Tag>
    </p>
    <p>
      <Tag tag="p" class="text-accent font-medium">
        <span class="text-white/80 font-normal"
          >Mi viaje en el mundo del desarrollo comenzó gracias a mi pasión por
          los videojuegos y mi curiosidad por la tecnología. En un principio
          soñaba con crear mis propios juegos, pero fue al descubrir el
          desarrollo web cuando encontré mi verdadera pasión: <span
            class="text-highlight"
            >construir interfaces hermosas y experiencias de usuario memorables.</span
          ></span
        >
      </Tag>
    </p>
    <br />
    <div
      id="more-info-about"
      class="h-0 overflow-hidden transition-[height] duration-500 lg:h-auto"
    >
      <p>
        <Tag tag="p" class="text-accent font-medium">
          <span class="text-white/80 font-normal"
            ><span class="text-highlight"
              >Me encanta trabajar de la mano con mis clientes.</span> Creo que la mejor forma de ofrecer un servicio de calidad es entendiendo
            a fondo lo que la otra persona necesita, escuchando sus ideas, sus intereses
            y sus metas.</span
          >
        </Tag>
      </p>
      <br />
      <p>
        <Tag tag="p" class="text-accent font-medium">
          <span class="text-white/80 font-normal"
            >Me encantan los proyectos innovadores, donde puedo combinar lógica
            y diseño para construir algo único. <span class="text-highlight"
              >Aspiro a ser reconocido no solo por la calidad de mi trabajo,
              sino también por la experiencia que ofrezco.</span
            ></span
          >
        </Tag>
      </p>
    </div>
    <button
      id="read-more"
      class="text-end underline italic ms-auto w-auto block lg:hidden">Leer más...</button
    >
  </div>
  <div class="about-image mt-7 overflow-hidden rounded-2xl shadow-2xl lg:mt-0">
    <Image
      src="/jose-photo.webp"
      width={1920}
      height={1280}
      alt="Foto de frente de José"
    />
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const readMore = document.querySelector('#read-more') as HTMLElement
      const moreInfo = document.querySelector('#more-info-about') as HTMLElement
      if (!readMore || !moreInfo) return

      readMore.addEventListener('click', () => {
        const isOpen = moreInfo.classList.contains('open')

        if (isOpen) {
          // Cerrar
          moreInfo.style.height = moreInfo.scrollHeight + 'px'
          requestAnimationFrame(() => {
            moreInfo.style.height = '0px'
            moreInfo.classList.remove('open')
          })
          readMore.innerHTML = 'Leer más...'
        } else {
          // Abrir
          moreInfo.classList.add('open')
          moreInfo.style.height = moreInfo.scrollHeight + 'px'
          readMore.innerHTML = 'Leer menos...'

          moreInfo.addEventListener(
            'transitionend',
            () => {
              moreInfo.style.height = 'auto'
            },
            { once: true }
          )
        }
      })
    })
  </script>
</section>
<script>
  import { gsap } from 'gsap'
  import { ScrollTrigger } from 'gsap/all'
  import { SplitText } from 'gsap/all'
  
  gsap.registerPlugin(ScrollTrigger, SplitText)

  const paragraphs = document.querySelectorAll('#sobre-mi p')
  const isMobile = () => window.innerWidth <= 765

  const tl = gsap.timeline({
    scrollTrigger: {
      trigger: '#sobre-mi',
      start: 'top 80%',
    }
  })
  tl.from(paragraphs, {
    yPercent: 100,
    opacity: 0,
    stagger: 0.1,
    ease: 'back.out',
  })
  .from('.about-image', {
    xPercent: 100,
    opacity: 0,
    ease: 'elastic.out(1, 0.5)',
    rotate: 20,
    duration: 1.5,
  }, '<')
  if (!isMobile()) {
    tl.to('.about-image', {
    y: -20,
    repeat: -1,
    yoyo: true,
    duration: 2,
    ease: 'power1.inOut',
  }, '<')
  }
</script>