---
import Logo from '../../assets/logo.svg'
import InstagramIcon from '../icons/InstagramIcon.astro'
import GithubIcon from '../icons/GithubIcon.astro'
import LinkedinIcon from '../icons/LinkedinIcon.astro'
import EmailIcon from '../icons/EmailIcon.astro'
import { Image } from 'astro:assets'
---

<footer class="px-6 bg-black pb-10 pt-5 flex flex-col items-center gap-2">
  <div class="flex gap-2 items-center justify-center">
    <div class="size-10">
      <Image class="size-full object-cover" src={Logo} alt="Logo JosefoDev" />
    </div>
    <h3 class="font-work-sans text-2xl font-bold">JosefoDev</h3>
  </div>
  <div class="flex gap-2 items-center">
    <a
      class="text-white/50 hover:scale-125 hover:text-white transition-all"
      href="https://www.instagram.com/josefo.dev"><InstagramIcon /></a
    >
    <a
      class="text-white/50 hover:scale-125 hover:text-white transition-all"
      href="https://www.github.com/JoseBeltre"><GithubIcon /></a
    >
    <a
      class="text-white/50 hover:scale-125 hover:text-white transition-all"
      href="https://www.linkedin.com/in/jos%C3%A9-luis-beltre-cordero-94a3972a7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"><LinkedinIcon /></a
    >
    <a
      class="text-white/50 hover:scale-125 hover:text-white transition-all"
      href="mailto:contact@jose-web.com"><EmailIcon /></a
    >
  </div>
  <p class="text-sm mt-2">Desarrollada con ❤️ por José Beltre.</p>
</footer>
