---
import { Image } from 'astro:assets'
import HeroImage from '../../assets/hero-image.webp'
import Badge from '../Badge.astro'
import LinkButton from '../LinkButton.astro'
---

<section
  id="inicio"
  class="min-h-dvh flex flex-col gap-2 items-center justify-center px-6 lg:flex-row-reverse lg:w-5xl xl:w-6xl lg:justify-between lg:px-0 mb-1.5"
>
  <div id="hero-image" class="px-10 max-w-md lg:px-0">
    <Image
      loading='eager'
      src={HeroImage}
      class="h-full w-full"
      alt="Imagen animada de José saludando"
    />
  </div>
  <div>
    <Badge class="dev-badge inline-block border-accent">Desarrollador Web</Badge
    >
    <h1
      class="hero-name font-work-sans text-5xl font-bold mt-4 leading-10 lg:text-7xl lg:font-semibold lg:max-w-100 lg:leading-15"
    >
      José Luis Beltre
    </h1>
    <p class="hero-desc text-white/80 text-lg text-pretty lg:max-w-100">
      Apasionado por crear soluciones web <span
        class="hero-highlighted inline-block bg-secondary px-2 font-medium text-white"
        >modernas</span
      > y <span
        class="hero-highlighted inline-block bg-secondary px-2 font-medium text-white"
        >efectivas</span
      >
    </p>
    <div class="hero-buttons-wrapper mt-5 flex gap-4">
      <LinkButton
        href="#portfolio"
        class="hero-buttons flex-1 bg-primary hover:bg-accent"
        >Ver proyectos</LinkButton
      >
      <LinkButton
        href="/jose-cv.pdf"
        class="hero-buttons flex-1 border hover:bg-white hover:text-dark"
        >Descargar CV</LinkButton
      >
    </div>
  </div>
</section>

<script>
  import { gsap } from 'gsap'
  import { SplitText } from 'gsap/all'

  gsap.registerPlugin(SplitText)

  gsap.from('#hero-image', {
    rotateZ: 100,
    x: 1000,
    duration: 5,
    ease: 'elastic.out(1, 0.5)',
  })

  const tl = gsap.timeline()
  const splitHeroName = SplitText.create('.hero-name', { type: 'words, chars' })
  const splitHeroDesc = SplitText.create('.hero-desc', { type: 'words' })
  tl.from('.dev-badge', {
    opacity: 0,
    y: 20,
    scale: 2,
    // rotationX: -100,
    // transformOrigin: "(%50 %50 -100px)",
    // y: 100,
    duration: 1,
    ease: 'elastic.out',
  })
    .from(
      splitHeroName.chars,
      {
        opacity: 0,
        y: () => gsap.utils.random(-200, 200),
        x: () => gsap.utils.random(-200, 200),
        rotate: () => gsap.utils.random(-90, 90),
        scale: () => gsap.utils.random(1.5, 3),
        duration: 3,
        ease: 'elastic.out',
      },
      '<'
    )
    .from(
      splitHeroDesc.words,
      {
        opacity: 0,
        y: 20,
        duration: 3,
        stagger: 0.1,
        ease: 'elastic.out',
      },
      '-=2'
    )
    .from(
      '.hero-highlighted',
      {
        width: 0,
        backgroundColor: '#121212',
        stagger: 0.6,
      },
      '-=3.4'
    )
    .from(
      '.hero-buttons-wrapper',
      {
        rotate: 5,
        scale: 0,
        opacity: 0,
        duration: 1.5,
        ease: 'elastic.out(1,0.5)',
      },
      '-=3'
    )
  console.log(splitHeroName)
</script>
