---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Button from '../components/Button.astro'
import Hero from '../components/sections/Hero.astro'
import Services from '../components/sections/Services.astro'
import Process from '../components/sections/Process.astro'
import Portfolio from '../components/sections/Portfolio.astro'
import AboutMe from '../components/sections/AboutMe.astro'
import Contact from '../components/sections/Contact.astro'
import Footer from '../components/sections/Footer.astro'
---

<Layout>
	<Header />
	<main class="flex flex-col max-lg:gap-26">
		<Hero />
		<Services />
		<section class="cta-bg-customized bg-layer lg:border lg:bg-highlight/10 lg:border-highlight/60">
			<div>
				<h2 class="font-semibold text-2xl text-highlight ">
				¿Tienes otra idea? 🤔
			</h2>
			<p class="text-white/90 lg:text-white">
				¡Me encantaría escuchar tu propuesta!
			</p>
			</div>
			<Button class="bg-highlight text-dark font-medium mt-4 hover:bg-yellow-400 lg:mt-0">
				¡Cuéntame tu proyecto!
			</Button>
		</section>
		<Process />
		<section class="cta-bg-customized bg-layer lg:bg-secondary/10 lg:border lg:border-secondary">
			<div>
				<h2 class="font-semibold text-2xl text-accent leading-6 mb-1 lg:text-secondary">
				¿Estás listo para comenzar? 🚀
			</h2>
			<p class="text-white/80 lg:text-white">
				¡Agenda tu primera reunión <span class="text-highlight font-medium">sin compromiso</span>!
			</p>
			</div>
			<Button class="bg-secondary mt-4 hover:bg-secondary md:mt-0">
				¡Cuéntame tu proyecto!
			</Button>
		</section>
		<Portfolio />
		<AboutMe />
		<Contact />
		<Footer />
	</main>
</Layout>
