---
import Layout from '../layouts/Layout.astro'
import Header from '../components/Header.astro'
import Button from '../components/Button.astro'
import Hero from '../components/sections/Hero.astro'
import Services from '../components/sections/Services.astro'
import Process from '../components/sections/Process.astro'
---

<Layout>
	<Header />
	<main class="grid gap-12 mb-100">
		<Hero />
		<Services />
		<div class="bg-layer w-full p-6 grid">
			<h2 class="font-semibold text-2xl text-highlight">
				¿Tienes otra idea? 🤔
			</h2>
			<p class="text-white/90">
				¡Me encantaría escuchar tu propuesta!
			</p>
			<Button class="bg-highlight text-dark font-medium mt-4">
				¡Cuéntame tu proyecto!
			</Button>
		</div>
		<Process />
	</main>
</Layout>
