---
import Layout from '../layouts/Layout.astro'
import HeroImage from '../assets/hero-image.svg'
import Header from '../components/Header.astro'
import Badge from '../components/Badge.astro'
import Button from '../components/Button.astro'
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Header />
	<main class="px-6">
		<section id="hero-section" class="min-h-screen flex flex-col gap-2 items-center justify-center">
			<div class="px-10">
				<img src={HeroImage.src} alt="">
			</div>
			<div>
				<Badge>Desarrollador Web</Badge>
				<h1 class="font-work-sans text-5xl font-bold mt-4">José Luis Beltre</h1>
				<p class="text-white/80 text-lg text-pretty">Apasionado por crear soluciones web <span class="bg-secondary px-2 font-medium text-white">modernas</span> y <span class="bg-secondary px-2 font-medium text-white">efectivas</span></p>
				<div class="mt-5 flex gap-4">
					<Button class='flex-1 bg-primary hover:bg-accent'>
						Ver proyectos
					</Button>
					<Button class='flex-1 border'>
						Descargar CV
					</Button>
				</div>
			</div>
		</section>
	</main>
</Layout>
