---
interface Props {
  class?: string
}

const { class: className = '' } = Astro.props
---

<button class={`py-3 px-6 text-sm cursor-pointer hover:scale-105 transition-all hover:tracking-wider ${className}`}>
  (<slot />)
</button>