---
import Carrousel from './Carrousel.astro'
import Tag from './Tag.astro'

const images = [
  'colmado-cesar/1.jpg',
  'colmado-cesar/2.jpg',
  'colmado-cesar/3.jpg'
]
---

<article class="flex gap-2 flex-col">
  <Carrousel images={images} />
  <div class="px-6">
    <h3 class="font-work-sans text-2xl font-medium">Colmado Cesar</h3>
    <h4 class="mb-1">
      <Tag class="italic text-secondary font-medium" tag="h4"
        ><span class="text-white">App web</span></Tag
      >
    </h4>
    <p>
      <Tag class="text-accent text-sm" tag="p">
        <span class="text-white/70"
          >Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim
          explicabo maxime eaque modi eum, dolorem reprehenderit! Possimus, id
          sunt iure provident ipsum, laudantium eaque quas eveniet cumque vitae
          natus nihil?</span
        >
      </Tag>
    </p>
    <br />
    <p>
      <Tag class="text-accent text-sm" tag="p">
        <span class="text-white/70"
          ><span class="text-highlight">Objetivo: </span>Lorem ipsum dolor sit
          amet consectetur adipisicing elit.</span
        >
      </Tag>
    </p>
  </div>
</article>
