---
import Tag from './Tag.astro'

interface Props {
  step: number,
  title: string,
  description: string
}

const { step, title, description } = Astro.props
---

<article class="bg-layer rounded-xl border border-white/20 p-5 relative">
  <span class="font-work-sans text-white font-semibold absolute text-5xl -left-3">{step}</span>
    <Tag class="italic text-secondary text-xl font-medium block"><span class="text-white">{title}</span></Tag>
    <Tag class="text-highlight font-semibold" tag='p'>
      <span class="text-white/70 font-normal">{description}</span>
    </Tag>
</article>