---
import Favicon from '../components/Favicon.astro'
import '../styles/global.css'
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<Favicon />
		<meta name="generator" content={Astro.generator} />
		<!-- Primary Meta Tags -->
		<title>José - Desarrollador Web | JosefoDev</title>
		<meta name="title" content="José - Desarrollador Web | JosefoDev" />
		<meta name="description" content="Soy José, desarrollador web enfocado en crear sitios modernos, rápidos y personalizados. ¡Transforma tus ideas en soluciones digitales profesionales!" />

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.jose-web.com" />
		<meta property="og:title" content="José - Desarrollador Web | JosefoDev" />
		<meta property="og:description" content="Soy José, desarrollador web enfocado en crear sitios modernos, rápidos y personalizados. ¡Transforma tus ideas en soluciones digitales profesionales!" />
		<meta property="og:image" content="/web-img.jpg" />

		<!-- X (Twitter) -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.jose-web.com" />
		<meta property="twitter:title" content="José - Desarrollador Web | JosefoDev" />
		<meta property="twitter:description" content="Soy José, desarrollador web enfocado en crear sitios modernos, rápidos y personalizados. ¡Transforma tus ideas en soluciones digitales profesionales!" />
		<meta property="twitter:image" content="/web-img.jpg" />

		<!-- Meta Tags Generated with https://metatags.io -->
	</head>
	<body class="leading-5">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		color-scheme: dark;
		scroll-behavior: smooth;
		scroll-padding-top: 5rem;
		background-color: #121212;
	}
</style>
